<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head ::htmlHead"></head>
<body>
<div th:replace="fragments/navigation ::navbar"></div>
<div class="wrapper">
    <section class="form-container">
        <form action="#" th:action="@{/post-form-process}"
              th:object="${post}" method="post">
            <div class="form-item">
                <label>Heading</label>
                <input type="text" th:field="*{heading}">
            </div>
            <div class="form-item">
                <label>Content</label>
                <textarea th:field="*{content}"></textarea>
            </div>
            <div class="form-item">
                <input type="submit">
            </div>
        </form>
    </section>
</div>
</body>
</html>